In [45]:
import pandas as pd
df = pd.read_csv('Real estate.csv')
df.head()

,No,transaction date,house age,distance to the nearest MRT station,number of convenience stores,latitude,longitude,house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [46]:
from sklearn.model_selection import train_test_split
inputs = df.drop(['house price of unit area','No','transaction date'],axis='columns') 
x_train, x_test, y_train, y_test = train_test_split(inputs,df[['house price of unit area']],test_size=0.1)

In [47]:
df[['house price of unit area']]

     house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1
..                        ...
409                      15.4
410                      50.0
411                      40.6
412                      52.5
413                      63.9

[414 rows x 1 columns]

In [48]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [49]:
model.score(x_test, y_test)

0.7650683065081421